In [ ]:
%load_ext autoreload
%autoreload 2

import sys
import pyreadr
import json
import pandas as pd

sys.path.append('../')
sys.path.append('./')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
key = json.load(open('../secrets/CENSUS_API_KEY.json'))

# READ Data

In [4]:
%load_ext autoreload
%autoreload 2

from utils import load_voter_data_txt, clean_voter_data, plot_voter_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
voter_data_path = "../../data/ncvoter_Statewide.txt"    # statewide
# voter_data_path = "../../data/ncvoter53.txt"    # lee county

#voter_data = load_voter_data_txt(voter_data_path, delimiter='\t', encoding='ISO-8859-1')
voter_data = pd.read_pickle("../../data/voter_data.pkl")
print(voter_data.shape)
voter_data.head()

(8781283, 67)

,county_id,county_desc,voter_reg_num,ncid,last_name,first_name,middle_name,name_suffix_lbl,status_cd,voter_status_desc,...,sanit_dist_abbrv,sanit_dist_desc,rescue_dist_abbrv,rescue_dist_desc,munic_dist_abbrv,munic_dist_desc,dist_1_abbrv,dist_1_desc,vtd_abbrv,vtd_desc
0,1,ALAMANCE,9005990,AA56273,AABEL,RUTH,EVELYN,NaN,R,REMOVED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ALAMANCE,9178574,AA201627,AARDEN,JONI,AUTUMN,NaN,R,REMOVED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,ALAMANCE,9205561,AA216996,AARMSTRONG,TIMOTHY,DUANE,NaN,A,ACTIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,17.0,PROSECUTORIAL DISTRICT 17,103,103
3,1,ALAMANCE,9048723,AA98377,AARON,CHRISTINA,CASTAGNA,NaN,A,ACTIVE,...,NaN,NaN,NaN,NaN,BUR,BURLINGTON,17.0,PROSECUTORIAL DISTRICT 17,03S,03S
4,1,ALAMANCE,9019674,AA69747,AARON,CLAUDIA,HAYDEN,NaN,A,ACTIVE,...,NaN,NaN,NaN,NaN,BUR,BURLINGTON,17.0,PROSECUTORIAL DISTRICT 17,124,124

In [6]:
print(voter_data['race_code'].unique())
print(voter_data['ethnic_code'].unique())
print(voter_data['middle_name'].unique())
print(voter_data['first_name'].unique())
print(set(zip(voter_data['race_code'], voter_data['ethnic_code'])))
print(voter_data.columns)

['W' 'B' 'U' 'A' 'O' 'M' 'I' 'P' ' ']
['NL' 'UN' 'HL']
['EVELYN' 'AUTUMN' 'DUANE' ... 'KIERSTED' 'ANNA RUDNICK' 'ROBERT-GIBBON']
['RUTH' 'JONI' 'TIMOTHY' ... 'ARLONZIA' 'ALEXABDER' 'MCIVA']
{('O', 'NL'), ('O', 'UN'), ('A', 'HL'), ('A', 'NL'), ('M', 'HL'), ('U', 'HL'), ('A', 'UN'), ('M', 'NL'), ('M', 'UN'), ('P', 'HL'), ('U', 'NL'), ('U', 'UN'), ('I', 'HL'), ('P', 'NL'), ('W', 'HL'), ('P', 'UN'), ('B', 'HL'), ('I', 'NL'), ('I', 'UN'), ('W', 'NL'), ('B', 'NL'), ('W', 'UN'), (' ', 'UN'), ('B', 'UN'), ('O', 'HL')}
Index(['county_id', 'county_desc', 'voter_reg_num', 'ncid', 'last_name',
       'first_name', 'middle_name', 'name_suffix_lbl', 'status_cd',
       'voter_status_desc', 'reason_cd', 'voter_status_reason_desc',
       'res_street_address', 'res_city_desc', 'state_cd', 'zip_code',
       'mail_addr1', 'mail_addr2', 'mail_addr3', 'mail_addr4', 'mail_city',
       'mail_state', 'mail_zipcode', 'full_phone_number', 'confidential_ind',
       'registr_dt', 'race_code', 'ethnic_code', 'party_cd', 'gender_code',
       'birth_year', 'age_at_year_end', 'birth_state', 'drivers_lic',
       'precinct_abbrv', 'precinct_desc', 'municipality_abbrv',
       'municipality_desc', 'ward_abbrv', 'ward_desc', 'cong_dist_abbrv',
       'super_court_abbrv', 'judic_dist_abbrv', 'nc_senate_abbrv',
       'nc_house_abbrv', 'county_commiss_abbrv', 'county_commiss_desc',
       'township_abbrv', 'township_desc', 'school_dist_abbrv',
       'school_dist_desc', 'fire_dist_abbrv', 'fire_dist_desc',
       'water_dist_abbrv', 'water_dist_desc', 'sewer_dist_abbrv',
       'sewer_dist_desc', 'sanit_dist_abbrv', 'sanit_dist_desc',
       'rescue_dist_abbrv', 'rescue_dist_desc', 'munic_dist_abbrv',
       'munic_dist_desc', 'dist_1_abbrv', 'dist_1_desc', 'vtd_abbrv',
       'vtd_desc'],
      dtype='object')

In [7]:
df = clean_voter_data(voter_data, county_name='')
del voter_data
df

filtering by county_name...
selecting columns...
cleaning surname...
cleaning middle name...
cleaning first name...
cleaning ztac...
27400 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
27400 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
27400 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
28703 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
28703 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
28703 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
27838 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
27838 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
27838 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
27838 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
27838 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
27838 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
27838 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
28471 is not in this repository's records. No ZCTA will be returned. Please double check your entry and try again.
cleaning race...
removing invalid records...

,county_id,county_desc,zip_code,ncid,surname,first,middle,race_code,ethnic_code,party_cd,state,zcta,true_race
2,1,ALAMANCE,27302.0,AA216996,AARMSTRONG,TIMOTHY,DUANE,W,UN,REP,NC,27302,white
3,1,ALAMANCE,27215.0,AA98377,AARON,CHRISTINA,CASTAGNA,W,UN,UNA,NC,27215,white
4,1,ALAMANCE,27215.0,AA69747,AARON,CLAUDIA,HAYDEN,W,NL,UNA,NC,27215,white
5,1,ALAMANCE,27253.0,AA170513,AARON,JAMES,MICHAEL,W,UN,DEM,NC,27253,white
7,1,ALAMANCE,27215.0,AA91549,AARON,NATHAN,EDWARD,W,UN,UNA,NC,27215,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8781277,100,YANCEY,28714.0,ES26136,ZITNEY,LAUREN,VICTORIA,W,UN,UNA,NC,28714,white
8781278,100,YANCEY,28714.0,ES17204,ZITNEY,VICTORIA,LEE,W,NL,UNA,NC,28714,white
8781279,100,YANCEY,28714.0,ES26341,ZULICK,DAWN,ELISABETH,W,NL,REP,NC,28714,white
8781280,100,YANCEY,28714.0,ES26380,ZULLINGER,PAMELA,YOUNG,W,NL,UNA,NC,28714,white
8781281,100,YANCEY,28740.0,AL300586,ZURAWSKI,ANTHONY,JAMES,W,NL,UNA,NC,28740,white

In [8]:
df.drop(columns=['ethnic_code'], inplace=True)